@-webkit-keyframes glowing {
  0% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; -webkit-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
}

@-moz-keyframes glowing {
  0% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; -moz-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
}

@-o-keyframes glowing {
  0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}

@keyframes glowing {
  0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}


.left {
float:left;
width:50%
display:inline-block;
}

p{
font-size:30px;
}

a{
font-size:25px !important;
}

.right {
float:right;
display:inline-block;
}

.building {
width:auto;
min-width:320px;
height:160px;
display:none;
margin:3px;
position:relative;
border:1px solid black;
}

#building1 {
display:inline-block;
}

.glow {
-webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}


.building img{
height:120px;
width:120px;
}

.building p
{
margin-top:5px;
margin-bottom:5px;
}

.building button
{
background-color:lightgrey !important;
font-size:20px;
font-weight:bold;
height:50px;
width:50%;
bottom:-5px;
right:-5px;
float:right;
position:absolute;
}

.price {
font-weight:bold;
opacity:0.8;
color:black;
height:34px;
font-size: 32px;
display:inline-block;
left:2px;
bottom:-2px;
position:absolute;
}

.coins {
width:16px;
height:16px;
}

.info
{
text-align:center;
}

#achievInfo
{
text-align:center;
}

.achievInfo
{
text-align:center;
}

.cheat
{
width:10% !important;
display:inline-block;
}

#upgradeIcons
{
float:left;
min-height:300px;
width:50%;
display:inline-block;
}

#upgradeText
{
width:50%
display:inline-block;
}

#upgradeText > p:first-child
{
font-weight: bold;
text-decoration: underline;
margin-top:-5px;
}

#upgradeText > p
{
margin-top:10px;
margin-bottom:0px;
}

#upgradeText > button
{
background-color:lightgrey !important;
font-size:30px !important;
font-weight:bold !important;
max-width:50%;
float:right;
}

#achievIcons
{
float:left;
min-height:300px;
width:50%;
display:inline-block;
}

#achievText
{
width:50%
display:inline-block;
}

#achievText > p:first-child
{
font-weight: bold;
text-decoration: underline;
margin-top:-5px;
}

#achievText > p
{
margin-top:10px;
margin-bottom:0px;
}

.upgradeIcons
{
height:140px;
width:140px;
border:2px solid black;
}

.achievIcons
{
height:100px;
width:100px;
border:2px solid black;
}


