.left {
float:left;
width:50%
display:inline-block;
}

p{
font-size:28px;
}

a{
font-size:26px !important;
}

.right {
float:right;
display:inline-block;
}

.building {
width:auto;
min-width:300px;
height:140px;
display:inline-block;
margin:3px;
position:relative;
border:1px solid black;
visibility:hidden;
}

.building img{
height:140px;
width:140px;
}

.building p
{
margin-top:5px;
margin-bottom:5px;
}

.building button
{
width:45%;
bottom:-5px;
right:-5px;
float:right;
position:absolute;
}

.price {
background-color:darkgrey;
font-weight:bold;
opacity:0.8;
color:black;
height:34px;
font-size: 32px;
display:inline-block;
left:2px;
bottom:-2px;
position:absolute;
}

.info
{
text-align:center;
}

.cheat
{
width:10% !important;
display:inline-block;
}
